﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/content/MyCSS/myCSS.css" rel="stylesheet" />
</head>
<body>

    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>0980983948</a>
                <a>9887867232</a>
                <button>Liên hệ quản cáo</button>
                <button><i class="fa fa-thumbs-up"></i> Like</button>
                <button class="follow">
                    <i class="fa-brands fa-twitter"></i> Follow
                </button>
                <button class="ytb">
                    <i class="fab fa-youtube"></i> YouTube
                </button>
            </div>
            <div class="login-right">
                <button>Đăng ký</button>
                <button>Đăng nhập</button>
                <input type="search" id="gsearch" name="gsearch">
                <i class="fa fa-search search-icon"></i>

            </div>
        </div>


    </div>
    <div class="below-bar">
        <div class="logo-banner">
            <img src="~/content/IMAGE/Logo_Vnexpress.png" alt="logo_VNEXPRESS" width="320" height="100" />
            <img src="~/content/IMAGE/banner_1.png" alt="banner_1" class="responsive-image" width="420" height="100" />
            <img src="~/content/IMAGE/banner_2.png" alt="banner_2" class="responsive-image" width="420" height="100" />
        </div>

        <div class="menu-bar">
            <button class="home"><i class="fas fa-home"></i></button>
            <button>Thời sự</button>
            <button>Thế giới</button>
            <button>Kinh doanh</button>
            <button>Giải trí</button>
            <button>Thể thao</button>
            <button>Pháp luật</button>
            <button>Giáo dục</button>
            <button>Sức khỏe</button>
            <button>Gia đình</button>
            <button>Du lịch</button>
            <button>Khoa học</button>
            <button>Số hóa</button>
            <button>Xe</button>
            <button>Cộng đồng</button>
            <button>Tâm sự</button>
            <button>Video</button>
            <button>Cười</button>
            <button>Rao vặt</button>
        </div>


        <div class="content-row">
            <div class="thumnails">
                <div class="thumnails-left">

                    <div class="bt">
                        <button>Trang nhất</button>
                    </div>

                    <div class="thumnails-2">
                        <img src="~/content/IMAGE/thumnails.png" width="570" height="350" />
                    </div>

                    <div class="thumnails-3">
                        <h1>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp và đầu tiên.</h1>
                    </div>
                </div>


                <div class="thumnails-right">
                    <div class="o-1">
                        <button><img src="~/content/IMAGE/vnexpress.jpg" width="17" height="17" /> English</button>
                    </div>

                    <div class="o-2">
                        <h3> ssfsf</h3>
                    </div>

                    <div class="o-3">
                        <h3> ssfsf</h3>
                    </div>

                </div>

            </div>
            <div class="ads-right">
                <p><time id="current-time"></time></p>
                <script src="time.js"></script>
                <img src="~/content/IMAGE/right-ads-1.png" width="380" height="150" />
                <img src="~/content/IMAGE/right-ads-2.png" width="380" height="150" />
                <img src="~/content/IMAGE/right-ads-3.png" width="380" height="150" />
            </div>
        </div>
    </div>
</body>
</html>
