﻿
body .top-bar {
    background-color: whitesmoke;
    height: 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

    body .top-bar .main-bar {
        background-color: whitesmoke;
        width: 80%;
        margin: auto;
        display: flex;
    }

    body .top-bar button {
        border: none;
        border-radius: 4px;
        font-size: 15px;
    }

    body .top-bar input {
        border: none;
        border-radius: 4px;
        font-size: 15px;
    }

    body .top-bar .main-bar .contact-left {
        flex-grow: 5;
        background-color: whitesmoke;
        justify-content: flex-start;
        gap: 10px;
    }

    body .top-bar .main-bar .login-right {
        flex-grow: 3;
        background-color: whitesmoke;
        text-align: right;
    }

.fab.fa-youtube {
    color: white;
    font-size: 15px;
}

.fa-thumbs-up {
    font-size: 15px;
}


.login-right button:nth-child(1) {
    background-color: gainsboro;
}

.login-right button:nth-child(2) {
    background-color: gainsboro;
}


.contact-left button:nth-child(3) {
    background-color: white;
}

.contact-left button:nth-child(4) {
    background-color: dodgerblue;
    color: whitesmoke;
    font-weight: bold;
}

.contact-left button:nth-child(5) {
    background-color: deepskyblue;
    color: whitesmoke;
    font-weight: bold;
}

.contact-left button:nth-child(6) {
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
}

.fas.fa-home {
    color: firebrick;
}

body .below-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

    body .below-bar .logo-banner {
        margin: 3px 0px 0px 0px;
        height: 105px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    body .below-bar .menu-bar {
        margin: 3px 0px 3px 0px;
        height: 20px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

        body .below-bar .menu-bar button {
            border: none;
            border-radius: 3px;
        }

    body .below-bar .content-row {
        background-color: red;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

        body .below-bar .content-row .thumnails {
            background-color: red;
            flex-grow: 6;
            display: flex;
        }

            body .below-bar .content-row .thumnails .thumnails-left .bt {
                color: lightgray;
            }

                body .below-bar .content-row .thumnails .thumnails-left .bt button {
                    color: firebrick;
                    font-size: 18px;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                    margin: 3px 2px 2px 0px;
                }

            body .below-bar .content-row .thumnails .thumnails-left {
                width: 73%;
                background-color: white;
                margin: 2px 2px 0px 1px;
                justify-content: space-between;
                border-radius: 4px;
            }



            body .below-bar .content-row .thumnails .thumnails-right {
                width: 27%;
                margin: 2px 2px 0px 0px;
                background-color: white;
                border-radius: 4px;
            }

                body .below-bar .content-row .thumnails .thumnails-right .o-1 {
                    background-color: floralwhite;
                    margin: 2px 2px 0px 2px;
                    text-align: right;
                }


                    body .below-bar .content-row .thumnails .thumnails-right .o-1 button {
                        color: firebrick;
                        font-size: 15px;
                        border-radius: 4px;
                        border: none;
                    }

                body .below-bar .content-row .thumnails .thumnails-right .o-2 {
                    width: 209px;
                    height: 300px;
                    background-color: floralwhite;
                    margin: 0px 0px 0px 2px;
                    justify-content: space-between;
                }

                body .below-bar .content-row .thumnails .thumnails-right .o-3 {
                    width: 209px;
                    height: 200px;
                    background-color: floralwhite;
                    margin: 0px 0px 0px 2px;
                    justify-content: space-between;
                }

        body .below-bar .content-row .ads-right {
            border-radius: 4px;
            background-color: white;
            margin: 2px 1px 0px 0px;
            flex-grow: 4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
